@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom right, #e6f0ff, #fce4ec);
  color: #333843;
}